<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of servicioFb.productos">
            <td>{{producto.codigo}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio}}</td>
            <td><button type="button" class="btn btn-info  btn-circle" (click)="mostrarDetalles(producto)">Detalle<i class="fa fa-check"></i>
        </button></td>
        </tr>

    </tbody>
</table>
