<div class="div">
    <main class="form-signin w-100 m-auto" style="background: transparent;
    backdrop-filter: blur(7px);">
    
    
    
      <img class="mb-4" src="assets/img/logo.png" alt="" style="padding-left: 100px; height:100px">
    <div class="form-floating">
      <input type="text" class="form-control" id="Nombre" placeholder="Edad Dos" [(ngModel)]="email">
      <label for="floatingPassword">Email</label>
    </div>
    
    <div class="form-floating">
      <input type="password" class="form-control" id="Contraseña" placeholder="Edad Dos" [(ngModel)]="clave">
      <label for="floatingPassword">Contraseña</label>
    </div>
    
    
      <button class="w-100 btn btn-lg btn-primary" (click)="Ingresar()">Ingresar</button>
      <br>
      <br>
    
      <button class="w-100 btn btn-lg btn-primary" (click)="Perfil1()">Perfil 1</button>
      <br>
      <br>
      <button class="w-100 btn btn-lg btn-primary" (click)="Perfil2()">Perfil 2</button>
    
    </main>
    </div>
    
